@use "mixins";

.carrito-row {
  width: 80%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $fourth-color;
  padding: 10px 15px;
  
  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 90px 1fr;
    gap: 10px;
    padding: 12px 0;
    align-items: center;
  }
}
.img-carrito {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;

  @media (max-width: 768px) {
    width: 120px;
    height: 120px;
    max-height: 250px; 
  }
}
.nombre-producto {
  font-weight: 500;
  max-width: 200px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (max-width: 768px){
    display: block;
    font-weight: 600;
    text-align: left;
  }
}
.precios-col {
  display: flex;
  align-items: center;
  gap: 10px;
  @media (max-width: 768px) {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }
}
.cantidad {
  min-width: 40px;
  text-align: center;
}
.subtotal {
  font-weight: bold;
  min-width: 120px;

  @media (max-width: 768px){
    white-space: flex-end;
  }
}
#total-carrito {
  font-size: 1.5rem; 
  font-weight: bold;
  margin-top: 10px;
  text-align: right; 
  width: 85%;
  color: $secondary-color;
}
#vaciar-carrito {
    @include mixins.boton($fourth-color, $primary-color);
}
#finalizar-compra {
    @include mixins.boton($secondary-color, $primary-color);
}
#carrito-container:empty + #total-carrito {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 300px;
    color: $fourth-color;
}

.contador {
  display: flex;
  align-items:end;
  gap: 10px;
  margin: 10px 0;
  button{
    @include mixins.boton($fourth-color, $primary-color);
    padding: 5px 10px;
  }
  span{
    font-weight: bold;
    min-width: 20px;
    text-align: center;
    color: $fourth-color;
  }

  @media (max-width: 768px){
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
  }
}
