@use 'variables' as v;

header{
        .logo img{
            height: 50px;
            width: auto;
        }
        nav{
            background-color: v.$secondary-color;
            .custom-navbar {
                z-index: 1050;
            }
            .nav-link {
            color:  v.$primary-color;
            font-weight: bold;
            }
            .nav-link.active {
            text-decoration: underline;
            color: v.$fourth-color !important;
            }
        }
    }