header{
        .logo img{
            height: 50px;
            width: auto;
        }
        nav{
            background-color: $secondary-color;
            .custom-navbar {
                z-index: 1050;
            }
            .nav-link {
            color:  $primary-color;
            font-weight: bold;
            }
            .nav-link.active {
            text-decoration: underline;
            color: $fourth-color !important;
            }
        }
    }