@import 'variables';
@import 'mixins';
@import 'header';
@import 'footer';
@import 'cards';
@import 'carrito';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $secondary-color;
    color: $fourth-color;
    font-family: $font;
    min-height: 100vh;
    display: flex;
    flex-direction: column;  

    main{
        margin-top: 60px;
        flex: 1;
        text-align: center;
        height: 250px;
        padding: 60px 20px;
        background-image: $background-image;
        background-repeat: repeat;
        background-size: 60rem;
        
        h1{
            font-size: 3rem;
            margin-bottom: 4rem;
        }
        
        p{
            font-size: 1rem;
        }
        
        .destacados{
            padding: 40px 20px;
            h2{
                margin-bottom: 3rem;
                color: $third-color;
            }
        }
    }

    
}


